<div class="row">
  <div class="container">
    <h2>order</h2>

    <table class="table">
      <thead>
        <th>title</th>
        <th>price</th>
        <th>quantity</th>
      </thead>
      <tbody>
        <% @product_lists.each do |product_list| %>
          <tr>
            <td><%= product_list.product_name %></td>
            <td><%= product_list.product_price %></td>
            <td><%= product_list.quantity %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <hr>
    <div class="total">
      total <%= @order.total %>cny
    </div>
    <hr>
    <h2>寄送地址</h2>
    <table class="table">
      <tbody>
        <tr>
        订购人
        </tr>
        <tr>
          <%= @order.billing_name%>
        </tr>
        <tr>
        地址
        </tr>
        <tr>
          <%= @order.billing_address%>
        </tr>
      </tbody>
    </table>
    <div class="group pull-right">
      <% if @order.order_placed? || @order.paid?%>
        <%= link_to("申请取消订单", apply_to_cancel_order_path(@order), method: :post)%>
      <% end %>
      <% if !@order.is_paid?%>
        <%= link_to("alipay", pay_with_alipay_order_path(@order.token), method: :post, class: "btn btn-danger")%>
        <%= link_to("wechat", pay_with_wechat_order_path(@order.token), method: :post, class: "btn btn-danger")%>
      <% else %>
        <p class="text-center">此订单已完成付款</p>
      <% end %>
    </div>
  </div>
</div>
