<div class="row">
  <div class="container">
    <h1>shopping details</h1>
    <table class="table">
      <thead>
        <th>title</th>
        <th>price</th>
        <th>quantity</th>
      </thead>
      <tbody>
        <% current_cart.cart_items.each do |cart_item| %>
          <tr>
            <td><%= link_to( cart_item.product.title, product_path(cart_item.product))%></td>
            <td><%= cart_item.product.price%></td>
            <td><%= cart_item.quantity%></td>
          </tr>
        <%end %>
      </tbody>
    </table>
    <div class="total">
      <span>

        total <%= render_total(current_cart)%> cny

      </span>
    </div>
    <div class="order-form">
      <%= simple_form_for @order do |f|%>
      <legend> 订购人</legend>
        <div class="form-group col-lg-6">
          <%= f.input :billing_name  %>
        </div>
        <div class="form-group col-lg-6">
          <%= f.input :billing_address  %>
        </div>
        <%= f.submit "checkout", class: "btn btn-danger", data: {confirm: "are you sure?"}%>
      <% end %>
    </div>

  </div>
</div>
