<div class="row">
  <div class="col-md-12">
    <h2>订单明细 <br>
      <small><%= link_to("订单连接", order_url(@order.token))%></small>
    </h2>
    <table class="table">
      <thead>
        <th width="70%">商品明细</th>
        <th>price</th>
        <th>quantity</th>
        <th>total</th>
      </thead>
      <tbody>
        <% @product_lists.each do |product_list|%>
          <tr>
            <td><%= product_list.product_name%></td>
            <td><%= product_list.product_price%></td>
            <td><%= product_list.quantity%></td>
            <td><%= product_list.quantity * product_list.product_price%></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div class="total group clearfix">
      <h4 class="pull-right">
        total <%= @order.total %> cny

      </h4>
    </div>
    <hr>

    <h2>mail message</h2>
    <table class="table">
      <tbody>
        <tr>
          <td>收件人</td>
        </tr>
        <tr>
          <td><%= @order.billing_name%>-<%= @order.billing_address%></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
