<h1>products</h1>
<div class="pull-right">
  <%= link_to("add new product", new_admin_product_path(@product),:class => "btn btn-default")%>
</div>
<table class="table">
  <thead>
    <th>#</th>
    <th>title</th>
    <th>description</th>
    <th>option</th>
  </thead>
  <tbody>
    <% @products.each do |product| %>
    <tr>
      <td><%= product.id%></td>
      <td><%= link_to product.title, admin_product_path(product)%></td>
      <td><%= simple_format(product.description)%></td>
      <td>
        <%= link_to("delete", admin_product_path(product),method: :delete,class: "btn btn-sm btn-danger",data: {confirm: "are you sure"})%>
        <%= link_to("edit", edit_admin_product_path(product),class: "btn btn-sm btn-warning")%>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
